/*
*  background
*/

.background {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #F8F8F8;
}

.background-bg-white {
	background-color: #FFFFFF;
}

.background__left-column {
	float: left;
	font-family: "Courier New", Courier, mono;
	margin: 0;
	padding: 1em 0 1em 0.5em;
	color: #777;
	width: 400px;
	line-height: 26px;
	font-size: 15px;
}

.background__left-column-bg-ya {
	background-image:url(../../images/yandex-bg.png);
	height:100%;
	background-repeat:no-repeat;
}

.background__right-column {
	float: right;
	font-family: "Courier New", Courier, mono;
	margin: 0;
	padding: 1em 0 1em 0.5em;
	color: #777;
	width: 400px;
	line-height: 26px;
	font-size: 15px;
}

.background__right-column-bg-ya {
	background-image:url(../../images/yandex-bg.png);
	height:100%;
	background-repeat:no-repeat;
}

.background__source-left {
}
.background__source-right {
}


/*
*  end background
*/
