/*for yandex*/

.for-yandex{
	position:absolute;
	top: 14px;
	right: 360px;
	z-index:1;	
}

.for-yandex__link {
	margin-left: 15px;
	color: #009AFF;
	text-decoration: none;
}
.for-yandex__link:visited {
	color: #009AFF;
	text-decoration: none;
}
.for-yandex__link:active {
	color: #009AFF;
	text-decoration: none;
}
.for-yandex__link:hover {
	color: #1111e1;
	text-decoration: none;
}

.for-yandex__image{
	width:50px;
	height: 20px;
	margin-bottom: 5px;
	margin-left: 3px;	
}

/*end for yandex*/