/*questions for yandex */

.q-ya {
	background-color: white;
	position: relative;
	width: 920px;
	margin: 0px auto;
	min-height: 100%;
	height: 100%;
	font-size: 13px;
}
.q-ya__common-q {
	height: 180px;
}
.q-ya__reply {
	height: 240px;
	width: 700px;
	margin: 10px auto;
	font-size: 13px;
	line-height: 28px;
	color: #333131;
	letter-spacing: 1px;
}
.q-ya__prof-q {
	height: 250px;
	font-size: 12px;
}
.q-ya__common-q-1 {
	position: relative;
	top: 14px;
	left: 598px;
	width: 154px;
}
.q-ya__common-q-2 {
	position: relative;
	top: 65px;
	left: 211px;
	width: 123px;
}
.q-ya__common-q-3 {
	position: relative;
	top: 55px;
	left: 618px;
	width: 166px;
}
.q-ya__common-q-4 {
	position: relative;
	top: 0px;
	left: 385px;
	width: 250px;
}
.q-ya__common-q-5 {
	position: relative;
	top: -8px;
	left: 53px;
	width: 129px;
}
.q-ya__common-q-6 {
	position: relative;
	top: 73px;
	left: 470px;
	width: 250px;
}
.q-ya__common-q-7 {
	position: relative;
	top: 10px;
	left: 343px;
	width: 250px;
}
.q-ya__common-q-8 {
	position: relative;
	top: -91px;
	left: 223px;
	width: 157px;
}
.q-ya__common-q-9 {
	position: relative;
	top: -3px;
	left: 77px;
	width: 250px;
}
.q-ya__prof-q-1 {
	position: relative;
	top: 3px;
	left: 445px;
	width: 430px;
}
.q-ya__prof-q-2 {
	position: relative;
	top: 7px;
	left: 43px;
	width: 361px;
}
.q-ya__prof-q-3 {
	position: relative;
	top: 89px;
	left: 640px;
	width: 281px;
}
.q-ya__prof-q-4 {
	position: relative;
	top: 34px;
	left: 338px;
	width: 250px;
}
.q-ya__prof-q-5 {
	position: relative;
	top: 69px;
	left: 13px;
	width: 354px;
}
.q-ya__prof-q-6 {
	position: relative;
	top: 66px;
	left: 470px;
	width: 250px;
}
.q-ya__prof-q-7 {
	position: relative;
	top: -113px;
	left: 535px;
	width: 291px;
}
.q-ya__prof-q-8 {
	position: relative;
	top: -91px;
	left: -26px;
	width: 285px;
}

.q-ya__hello{
	font-weight: bold;
	font-size: 128px;
	height: 150px;
	letter-spacing: 29px;
	width: 606px;
	margin: 0 auto;
	padding-top: 100px;
}
/*end questions for yandex */
