<%replies.each_with_index do |reply, index|%>
    <%= render :partial => "entitys/comment", :locals => {:reply => reply, :index=> index, :state=>"expanded"} %>
<%end%>

<div id="comments_button_container_<%=entity.id%>">
    <%=link_to getViewAllCommentsLinkTitle(entity, page), load_comments_entity_path(:id=>entity.id, :page=>page), :entityId=>entity.id,
               :id=>"all_comments_link_"+entity.id.to_s(10), :page=>page,
               :method=>:post, :remote=>true, :"data-type" => "html", :class=>getViewAllCommentsLinkState(entity, page)%>
    <%=link_to "collapse comments", collapse_comments_entity_path(:id=>entity.id), :entityId=>entity.id,
               :id=>"collapse_comments_link_"+entity.id.to_s(10), :method=>:post, :remote=>true,
               :"data-type" => "html", :class=>"comments_close_button btn_sml"%>
    <div class="clr"></div>
</div>