<div id="social_find_us">
  <ul>
    <li><h1 id="find_us_menu_title">Find Us On:</h1></li>
    <li><%=link_to "", "https://www.facebook.com/entitys", {:id=>"fb_find_us", :class=>"social_flat facebook_flat", :rel=>"noreferrer", :target => "_blank"}%></li>
    <li><%=link_to "", "http://twitter.com/entitys", {:id=>"twitter_find_us", :class=>"social_flat twitter_flat", :rel=>"noreferrer", :target => "_blank"}%></li>
    <li><%=link_to "", "http://www.youtube.com/user/entitysTV?feature=watch", {:id=>"youtube_find_us", :class=>"social_flat youtube_flat", :rel=>"nofollow", :target => "_blank"}%></li>
  </ul>
</div>
<div class="clr"></div>
