<div id="thank_you_popup" class="popup">
  <div class="header">
    <h1>Sorry</h1>
    <p>You are not of legal age to use this site.</p>
  </div>
</div>
<script>
  $(document).ready(function(){
    window.parent.$("#fancybox-wrap").width(400).height(130);
    window.parent.$("#fancybox-content").width(380).height(110);
    window.parent.$.fancybox.center();
  });  
</script>    