<div id="thank_you_popup" class="popup">
  <div class="header">
    <h1>Thank you</h1>
    <p>An email with next steps will be sent to you shortly.</p>
  </div>
</div>
<script>
  $(document).ready(function(){
    window.parent.$("#fancybox-wrap").width(400).height(130);
    window.parent.$("#fancybox-content").width(380).height(110);
    window.parent.$.fancybox.center();
  });  
</script>    