header.public-header{
 h1{ 
   margin-top: 28px;
   font-weight: 100;
   font-size: 32px;
   margin-left: 20px;
 } 
 margin-bottom: 20px;
}

#sign-in{
  padding-top: 50px;
  width: 420px;
  margin: 0px auto;
}
