<div style="display: none;">
  <div id="about_us_box" style="width:625px;height:400px;overflow:auto;">

    <table cellpadding="0" cellspacing="0" style="border-style: none; border-color: inherit; border-width: 0; width: 406px; padding:30px; height: 380px;">
      <tbody>
        <tr>
          <td colspan="3" rowspan="2" style="vertical-align:top; ">
            <!-- Main inner div with data -->
            <div style="font-family:'Helvetica Neue';font-size:15px;color:gray;height:30px; width:200px;top:45; left:30; position:absolute; ">About Us</div>
            <form id="popupLogin" method="post" style="width: 321px">
              <div id="popupform" style="left: 30px; top: 55px; width: 319px; height: 6px; bottom: 310px;">
                <hr />

              </div>

              <table align="left" cellpadding="0" cellspacing="0" style="margin-top:20px; margin-left:5px; height: 154px; width: 315px;">
                <tbody>

                  <tr>
                    <td colspan="3">

                      <textarea style="width: 318px; height: 244px"></textarea> </td>
                  </tr>
                </tbody>

              </table>
            </form>
            <!-- END main div -->
          </td>
        </tr>
       
      </tbody>
    </table>

  </div>
</div>