<div id="description_splash">
<div class="white_font top_div">entitys are told every second, of every day.  entitys is the first and only source of entitys and we want you to be a part of it.  Our platform provides users a place to find and share entitys with the world.
</div><div class="yellow_font bottom_div">
Start with sharing or asking for advice in "entity Worthy" or poke around by using the search box.  <span class="white_font">>></span></div></div>